html {
    overflow: hidden;
}

#backgroundImage{
    position: absolute;
    background-color: #151826;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: 2;
}
#backgroundImage-2 {
    position: absolute;
    background-color: #026493;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 7;
}

#mainImage {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    z-index: -2;
}


#level-1 {
    position: absolute;
    top: 9.4%;
    left: -2%;
    width: 105%;
    height: 100%;
    z-index: -2;
}


.playableCharacter {

    position: absolute;
    z-index: 1;
    top: 67%;
    left: 0%;
    mix-blend-mode: difference;
}

.nonplayableCharacter {

    position: absolute;
    top: 60%;
    left: 80%;
    transform: scaleX(-1) ;
    width: 20%;
}

.playableCharacterSwing {

    position: absolute;
    top: 67%;
    left: 0%;
}

#startButton {

    position: absolute;
    z-index: 5;
    font-family: 'Foldit', cursive;
    font-family: 'Press Start 2P', cursive;;
    top: 70%;
    left: 727.25px;
    border-color: none;
    background-color: lightgray;
}

#startButton:hover, #gameButton:hover {
    background-color: rgb(137, 137, 137);
}

#gameButton {
    position: absolute;
    z-index: 6;
    font-family: 'Press Start 2P', cursive;
    top: 80%;
    left: 700.42px;
    border-color: none;
    background-color: lightgrey;


}

 p:not(:nth-child(2)) {
    position: absolute;
    z-index: 4;
    color: aliceblue;
    font-size: 5em;
    top: 10%;
    left: 40%;
    font-family: 'Fredericka the Great', cursive;
    /*font-family: 'Megrim', cursive;*/
}

#endPortal:not(:nth-child(4)) {
    position: absolute;
    z-index: 4;
    color: aliceblue;
    font-size: 5em;
    top: 10%;
    left: 56.5%;
    font-family: 'Fredericka the Great', cursive;
}
 #trianglePortal {
        position: absolute;
        z-index: 4;
        color: aliceblue;
        font-size: 6em;
        top: 6.5%;
        left: 51.75%;
        font-family: 'Megrim', cursive;
    }

#leftBtn {
    position: absolute;
    z-index: 7;
    top:25%;
    left: 74%;
    width: 3%;
}

#upBtn {
    position: absolute;
    z-index: 7;
    top: 20%;
    left: 77%;
    width: 3%;
}

#rightBtn {
    position: absolute;
    z-index: 7;
    top: 25%;
    left: 80%;
    width: 3%;
}

#downBtn {
    position: absolute;
    z-index: 7;
    top: 30%;
    left: 77%;
    width: 3%;
}

#gameInstructions-container {
    position: absolute;
    z-index: 8;
    background-color: black;
    top: 20%;
    left: 24%;
    width: 55%;
    height: 50%;
}

header {
    text-align: center;
    color: white;
    padding-top: 3%;
    font-family: 'Press Start 2P', cursive;
    font-size: small;
}

#gameInstructions-info {
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: small;
   line-height: 27px;
}


#backBtn {
    position: absolute;
    z-index: 10;
    top: 75%;
    left: 76%;
    width: 3%;
}

#backBtn-playerScreen {

    position: absolute;
    z-index: 9;
    top: 5%;
    left: 95%;
    width: 3%;

}

#backgroundImage-3 {
    position: absolute;
    background-color: rgb(53, 45, 77);
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    z-index: 7;
}

#backgroundImage-4 {
    position: absolute;
    background-color:  rgb(34, 40, 44);
    top: 92.1%;
    left: 0;
    width: 100%;
    height: 8%;
    z-index: 7;
}

#level-2 {
    position: absolute;
    top: 8%;
    left: -2%;
    width: 105%;
    height: 170%;
    z-index: -2;
}

 .title-container-transition {
    transition: opacity 1s;

  }

 .title-container-transition.fade-out {  
    opacity: 0;
 }

 #dialog {
    height: 70px;
    background: #1c1c1c;
    border-radius: 5px;
    box-shadow: 0 0 0 6px #F5EAC8, 0 0 0 12px #251C00;
    color: #F5EAC8;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    position: relative;
    text-transform: uppercase;
    word-spacing: 3px;
    position: absolute;
    width: 96.5%;
    z-index: 16;
    top: 83.5%;
  }

@-webkit-keyframes arrow_anim {
   from { margin-top: 58px; }
     to { margin-top: 67px; }
}

@-moz-keyframes arrow_anim {
   from { margin-top: 58px; }
     to { margin-top: 67px; }
}

@-ms-keyframes arrow_anim {
   from { margin-top: 58px; }
     to { margin-top: 67px; }
}

@-o-keyframes arrow_anim {
   from { margin-top: 58px; }
     to { margin-top: 67px; }
}

@keyframes arrow_anim {
   from { margin-top: 58px; }
     to { margin-top: 67px; }
}

#arrow {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid red;
  height: 0; 
  margin: 60px 0px 0px 360px;
  position: absolute;
  width: 0; 
  z-index: 17;
  
  -webkit-animation: arrow_anim .3s steps(3) infinite;
  -moz-animation: arrow_anim .3s steps(3) infinite;
  -ms-animation: arrow_anim .3s steps(3) infinite;
  -o-animation: arrow_anim .3s steps(3) infinite;
  animation: arrow_anim .3s steps(3) infinite;
}